name: E2E Migration Test

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  e2e:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.4"
      - name: Install dependencies
        run: | 
          go mod download
          make setup

      - name: Install psql client
        run: |
          sudo apt-get update
          sudo apt-get install -y postgresql-client

      - name: Wait for Postgres
        env:
          PGPASSWORD: postgres
        run: |
          until pg_isready -h localhost -U postgres; do
            sleep 1
          done

      - name: Create database
        env:
          PGPASSWORD: postgres
        run: psql -h localhost -U postgres -c "CREATE DATABASE nostar;"

      - name: Run migrations
        env:
          PGPASSWORD: postgres
        run: |
          psql -h localhost -U postgres -d nostar -f scripts/migrations/001_init.sql

      - name: Build binary
        run: make build

      - name: Install algia (Nostr Client CLI) # https://github.com/mattn/algia
        run: |
          go install github.com/mattn/algia@latest
          mkdir -p ~/.config/algia
          algia version

      - name: Injection secret and put config
        run: |
          jq '.privatekey = env.TEST_NSEC_KEY' \
            .github/workflows/config.json > ~/.config/algia/config.json
        env:
          TEST_NSEC_KEY: ${{ secrets.TEST_NSEC_KEY }}

# ----------------------------------------------

      - name: Run Nostar server
        env:
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/nostar?sslmode=disable
        run: |
          nohup ./bin/nostar serve -c ./bin/config.toml &
          sleep 5s

      - name: Run tests
        run: ./run.sh
        working-directory: ./tests
